In [1]:
# Import our dependencies
import pandas as pd
import os
from sqlalchemy import create_engine
import time
import datetime
from config import password

In [2]:
#!conda install sqlalchemy

In [3]:
# Bring in CSVs
weather = 'Resources/Weather_Summary.csv'
wwii_data = 'Resources/THOR_WWII_DATA.csv'
wwii_aircraft_data = 'Resources/THOR_WWII_AIRCRAFT_GLOSS.csv'
wwii_weapons_data = 'Resources/THOR_WWII_WEAPON_GLOSS.csv'

# Weather Data Pandas DataFrame

In [4]:
# Read in Weather CSV 
weather_df = pd.read_csv(weather, encoding = "ISO-8859-1", low_memory=False)
weather_df.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,7/1/42,1.016,0.0,25.555556,22.222222,23.888889,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,7/2/42,0,0.0,28.888889,21.666667,25.555556,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,7/3/42,2.54,0.0,26.111111,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,7/4/42,2.54,0.0,26.666667,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,7/5/42,0,0.0,26.666667,21.666667,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Print weather df columns
weather_df.columns

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR', 'MO', 'DA', 'PRCP', 'DR',
       'SPD', 'MAX', 'MIN', 'MEA', 'SNF', 'SND', 'FT', 'FB', 'FTI', 'ITH',
       'PGT', 'TSHDSBRSGF', 'SD3', 'RHX', 'RHN', 'RVG', 'WTE'],
      dtype='object')

In [6]:
# Organize Weather data to list weather components
# Create a new table with the selected columns
weather_data_clean = weather_df[['Date', 'MaxTemp', 'MinTemp','MAX', 'MIN', 'Precip', 'WindGustSpd', 'Snowfall']].copy()

In [7]:
# Print clean weather data
weather_data_clean.head()

     Date    MaxTemp    MinTemp   MAX   MIN Precip  WindGustSpd  Snowfall
0  7/1/42  25.555556  22.222222  78.0  72.0  1.016          0.0       0.0
1  7/2/42  28.888889  21.666667  84.0  71.0      0          0.0       0.0
2  7/3/42  26.111111  22.222222  79.0  72.0   2.54          0.0       0.0
3  7/4/42  26.666667  22.222222  80.0  72.0   2.54          0.0       0.0
4  7/5/42  26.666667  21.666667  80.0  71.0      0          0.0       0.0

In [8]:
# Convert dates to proper formatting
weather_dates = weather_data_clean['Date'] = pd.to_datetime(weather_data_clean['Date'])

In [9]:
# Rename columns to make dataframe cleaner
weather_data_clean = weather_data_clean.rename(columns= {'Date':'date','MAX':'maxtempf','MIN':'mintempf', 'MaxTemp': 'maxtempc', 'MinTemp': 'mintempc', 'Precip':'precipitation', 'WindGustSpd' : 'windgustspd', 'Snowfall' : 'snowfall'})
weather_data_clean

,date,maxtempc,mintempc,maxtempf,mintempf,precipitation,windgustspd,snowfall
0,2042-07-01,25.555556,22.222222,78.0,72.0,1.016,0.0,0.0
1,2042-07-02,28.888889,21.666667,84.0,71.0,0,0.0,0.0
2,2042-07-03,26.111111,22.222222,79.0,72.0,2.54,0.0,0.0
3,2042-07-04,26.666667,22.222222,80.0,72.0,2.54,0.0,0.0
4,2042-07-05,26.666667,21.666667,80.0,71.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...
119035,2045-12-27,28.333333,18.333333,83.0,65.0,0,0.0,0.0
119036,2045-12-28,29.444444,18.333333,85.0,65.0,9.906,0.0,0.0
119037,2045-12-29,28.333333,18.333333,83.0,65.0,0,0.0,0.0
119038,2045-12-30,28.333333,18.333333,83.0,65.0,0,0.0,0.0
119039,2045-12-31,29.444444,17.222222,85.0,63.0,0,0.0,0.0

In [10]:
# Check data types
weather_data_clean.dtypes

date             datetime64[ns]
maxtempc                float64
mintempc                float64
maxtempf                float64
mintempf                float64
precipitation            object
windgustspd             float64
snowfall                float64
dtype: object

In [11]:
#  Change dates so that date column is an object
weather_data_clean['date'] = weather_data_clean['date'].map(lambda x: x.strftime('%Y-%m-%d'))

In [12]:
# Check data types
weather_data_clean.dtypes

date              object
maxtempc         float64
mintempc         float64
maxtempf         float64
mintempf         float64
precipitation     object
windgustspd      float64
snowfall         float64
dtype: object

In [13]:
# Exoprt CSV
weather_data_clean.to_csv("weather_data.csv")

In [14]:
# Inserting df into db table
engine = create_engine('sqlite:///wwii.db', echo=False)
weather_data_clean.to_sql('weather_data', con=engine, if_exists='append')

In [15]:
# weather_final = pd.read_sql_query("select * from weather_data_clean", engine)
# df_dict = df.to_dict('records')
# return jsonify(df_dict)

# THOR Weather Data Pandas DataFrame

In [16]:
# Read in Thor Weather CSV
thor_weather = pd.read_csv(wwii_data, encoding = "ISO-8859-1", low_memory=False)
thor_weather.head()

,WWII_ID,MASTER_INDEX_NUMBER,MSNDATE,THEATER,NAF,COUNTRY_FLYING_MISSION,TGT_COUNTRY_CODE,TGT_COUNTRY,TGT_LOCATION,TGT_TYPE,...,CALLSIGN,ROUNDS_AMMO,SPARES_RETURN_AC,WX_FAIL_AC,MECH_FAIL_AC,MISC_FAIL_AC,TARGET_COMMENT,MISSION_COMMENTS,SOURCE,DATABASE_EDIT_COMMENTS
0,1,NaN,8/15/1943,MTO,12 AF,USA,13.0,ITALY,SPADAFORA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4285,20028.0,2/20/1945,PTO,5 AF,USA,NaN,PHILIPPINE ISLANDS,PUERTA PRINCESA,UNIDENTIFIED TARGET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,8/15/1943,MTO,12 AF,USA,13.0,ITALY,COSENZA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,8/15/1943,MTO,12 AF,USA,13.0,ITALY,GIOJA TAURO,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
4,8167,14639.0,2/23/1945,PTO,5 AF,USA,NaN,PHILIPPINE ISLANDS,BALETE PASS,WOODED AREA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Print Thor Weather columns
thor_weather.columns

Index(['WWII_ID', 'MASTER_INDEX_NUMBER', 'MSNDATE', 'THEATER', 'NAF',
       'COUNTRY_FLYING_MISSION', 'TGT_COUNTRY_CODE', 'TGT_COUNTRY',
       'TGT_LOCATION', 'TGT_TYPE', 'TGT_ID', 'TGT_INDUSTRY_CODE',
       'TGT_INDUSTRY', 'SOURCE_LATITUDE', 'SOURCE_LONGITUDE', 'LATITUDE',
       'LONGITUDE', 'UNIT_ID', 'MDS', 'AIRCRAFT_NAME', 'MSN_TYPE',
       'TGT_PRIORITY', 'TGT_PRIORITY_EXPLANATION', 'AC_ATTACKING', 'ALTITUDE',
       'ALTITUDE_FEET', 'NUMBER_OF_HE', 'TYPE_OF_HE', 'LBS_HE', 'TONS_OF_HE',
       'NUMBER_OF_IC', 'TYPE_OF_IC', 'LBS_IC', 'TONS_OF_IC', 'NUMBER_OF_FRAG',
       'TYPE_OF_FRAG', 'LBS_FRAG', 'TONS_OF_FRAG', 'TOTAL_LBS', 'TOTAL_TONS',
       'TAKEOFF_BASE', 'TAKEOFF_COUNTRY', 'TAKEOFF_LATITUDE',
       'TAKEOFF_LONGITUDE', 'AC_LOST', 'AC_DAMAGED', 'AC_AIRBORNE',
       'AC_DROPPING', 'TIME_OVER_TARGET', 'SIGHTING_METHOD_CODE',
       'SIGHTING_EXPLANATION', 'BDA', 'CALLSIGN', 'ROUNDS_AMMO',
       'SPARES_RETURN_AC', 'WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC',
       'TARGET_COMMENT', 'MISSION_COMMENTS', 'SOURCE',
       'DATABASE_EDIT_COMMENTS'],
      dtype='object')

In [18]:
# Organize Thor weather data to list location as well as aircraft failures
thor_weather_fails = thor_weather[['LATITUDE','LONGITUDE','MSNDATE', 'WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC']].copy()
thor_weather_fails

,LATITUDE,LONGITUDE,MSNDATE,WX_FAIL_AC,MECH_FAIL_AC,MISC_FAIL_AC
0,38.220000,15.370000,8/15/1943,NaN,NaN,NaN
1,9.750000,118.750000,2/20/1945,NaN,NaN,NaN
2,39.270000,16.250000,8/15/1943,NaN,NaN,NaN
3,38.430000,15.900000,8/15/1943,NaN,NaN,1.0
4,16.083333,120.916667,2/23/1945,NaN,NaN,NaN
...,...,...,...,...,...,...
178276,-8.472085,148.234293,12/14/1942,NaN,NaN,NaN
178277,4.883333,38.083333,9/18/1940,NaN,NaN,NaN
178278,-8.471111,126.458333,11/17/1942,NaN,NaN,NaN
178279,-2.583333,150.833333,2/16/1945,NaN,NaN,NaN
178280,-9.050000,124.533333,6/11/1942,NaN,NaN,NaN

In [19]:
# Drop rows that don't have any failed aircraft
# Print clean Thor weather data
thor_weather_clean = thor_weather_fails.dropna(thresh = 1, subset = ['WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC'])
thor_weather_clean

        LATITUDE  LONGITUDE    MSNDATE  WX_FAIL_AC  MECH_FAIL_AC  MISC_FAIL_AC
3          38.43      15.90  8/15/1943         NaN           NaN           1.0
1237       39.27      16.25  8/19/1943         1.0           NaN           NaN
1838       40.67      14.73  8/22/1943         NaN           NaN          10.0
2139       39.80      16.20  8/24/1943        12.0           NaN           NaN
3810       40.07      15.63  8/31/1943         NaN           1.0           NaN
...          ...        ...        ...         ...           ...           ...
176197     38.02      14.60   8/7/1943         4.0           NaN           NaN
176490     38.02      15.12   8/8/1943         2.0           NaN           NaN
177685     38.22      15.37  8/13/1943         NaN           NaN           2.0
178019     38.43      15.90  8/14/1943         NaN           NaN           3.0
178080     38.23      15.72  8/15/1943         3.0           NaN           NaN

[247 rows x 6 columns]

In [20]:
# Print updated clean Thor weather data
thor_weather_clean['MSNDATE'] = pd.to_datetime(thor_weather_clean['MSNDATE'])

/Users/ibethernandez/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
# Rename columns in clean dataframe
thor_weather_clean = thor_weather_clean.rename(columns= {'LATITUDE':'latitude','LONGITUDE':'longitude','MSNDATE':'missiondate', 'WX_FAIL_AC': 'weatherfails', 'MECH_FAIL_AC': 'mechanicalfails', 'MISC_FAIL_AC':'miscfails',})
thor_weather_clean

,latitude,longitude,missiondate,weatherfails,mechanicalfails,miscfails
3,38.43,15.90,1943-08-15,NaN,NaN,1.0
1237,39.27,16.25,1943-08-19,1.0,NaN,NaN
1838,40.67,14.73,1943-08-22,NaN,NaN,10.0
2139,39.80,16.20,1943-08-24,12.0,NaN,NaN
3810,40.07,15.63,1943-08-31,NaN,1.0,NaN
...,...,...,...,...,...,...
176197,38.02,14.60,1943-08-07,4.0,NaN,NaN
176490,38.02,15.12,1943-08-08,2.0,NaN,NaN
177685,38.22,15.37,1943-08-13,NaN,NaN,2.0
178019,38.43,15.90,1943-08-14,NaN,NaN,3.0
178080,38.23,15.72,1943-08-15,3.0,NaN,NaN

In [22]:
# Check dataframe data types
thor_weather_clean.dtypes

latitude                  float64
longitude                 float64
missiondate        datetime64[ns]
weatherfails              float64
mechanicalfails           float64
miscfails                 float64
dtype: object

In [23]:
# Change date column to an object 
thor_weather_clean['missiondate'] = thor_weather_clean['missiondate'].map(lambda x: x.strftime('%Y-%m-%d'))

In [24]:
# Check id data type changed
thor_weather_clean.dtypes

latitude           float64
longitude          float64
missiondate         object
weatherfails       float64
mechanicalfails    float64
miscfails          float64
dtype: object

In [ ]:
# Export CSV
thor_weather_clean.to_csv("thor_failures.csv")

In [ ]:
# Inserting df into db table
engine = create_engine('sqlite:///wwii.db', echo=False)
thor_weather_clean.to_sql('thor_failures', con=engine, if_exists='append')

# Connect to Postgres Databases

In [ ]:
# Connect to local database
engine = create_engine(f'postgresql://postgres:{password}@localhost:5433/wwii_tables')
connection = engine.connect()

In [ ]:
# Check for tables
engine.table_names()

In [ ]:
# Connect to weather_data table from database
weather_data_clean.to_sql(name='weather_data', con=connection, if_exists='append', index=False)

In [ ]:
Data = pd.read_sql('select * from weather_data', connection)

In [ ]:
Data.head()

In [ ]:
# Connect to aircraft_failure table from database
thor_weather_clean.to_sql(name='thor_failures', con=connection, if_exists='append', index=False)

In [ ]:
ThorData = pd.read_sql('select * from thor_failures', connection)

In [ ]:
ThorData.head()

In [ ]:
# Confirm data has been added by querying the customer_name table