In [1]:
# Import our dependencies
import pandas as pd
import os
from sqlalchemy import create_engine
import time
import datetime
from config import password

In [2]:
#!conda install sqlalchemy

In [3]:
# Bring in CSVs
weather = 'Resources/Weather_Summary.csv'
wwii_data = 'Resources/THOR_WWII_DATA.csv'
wwii_aircraft_data = 'Resources/THOR_WWII_AIRCRAFT_GLOSS.csv'
wwii_weapons_data = 'Resources/THOR_WWII_WEAPON_GLOSS.csv'

# Weather Data Pandas DataFrame

In [4]:
# Read in Weather CSV 
weather_df = pd.read_csv(weather, encoding = "ISO-8859-1", low_memory=False)
weather_df.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,7/1/42,1.016,0.0,25.555556,22.222222,23.888889,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,7/2/42,0,0.0,28.888889,21.666667,25.555556,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,7/3/42,2.54,0.0,26.111111,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,7/4/42,2.54,0.0,26.666667,22.222222,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,7/5/42,0,0.0,26.666667,21.666667,24.444444,0.0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Print weather df columns
weather_df.columns

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR', 'MO', 'DA', 'PRCP', 'DR',
       'SPD', 'MAX', 'MIN', 'MEA', 'SNF', 'SND', 'FT', 'FB', 'FTI', 'ITH',
       'PGT', 'TSHDSBRSGF', 'SD3', 'RHX', 'RHN', 'RVG', 'WTE'],
      dtype='object')

In [6]:
# Organize Weather data to list weather components
# Create a new table with the selected columns
weather_data_clean = weather_df[['Date', 'MaxTemp', 'MinTemp','MAX', 'MIN', 'Precip', 'WindGustSpd', 'Snowfall']].copy()

In [7]:
# Print clean weather data
weather_data_clean.head()

     Date    MaxTemp    MinTemp   MAX   MIN Precip  WindGustSpd  Snowfall
0  7/1/42  25.555556  22.222222  78.0  72.0  1.016          0.0       0.0
1  7/2/42  28.888889  21.666667  84.0  71.0      0          0.0       0.0
2  7/3/42  26.111111  22.222222  79.0  72.0   2.54          0.0       0.0
3  7/4/42  26.666667  22.222222  80.0  72.0   2.54          0.0       0.0
4  7/5/42  26.666667  21.666667  80.0  71.0      0          0.0       0.0

In [8]:
# Convert dates to proper formatting
weather_dates = weather_data_clean['Date'] = pd.to_datetime(weather_data_clean['Date'])

In [9]:
# Rename columns to make dataframe cleaner
weather_data_clean = weather_data_clean.rename(columns= {'Date':'date','MAX':'maxtempf','MIN':'mintempf', 'MaxTemp': 'maxtempc', 'MinTemp': 'mintempc', 'Precip':'precipitation', 'WindGustSpd' : 'windgustspd', 'Snowfall' : 'snowfall'})
weather_data_clean

,date,maxtempc,mintempc,maxtempf,mintempf,precipitation,windgustspd,snowfall
0,2042-07-01,25.555556,22.222222,78.0,72.0,1.016,0.0,0.0
1,2042-07-02,28.888889,21.666667,84.0,71.0,0,0.0,0.0
2,2042-07-03,26.111111,22.222222,79.0,72.0,2.54,0.0,0.0
3,2042-07-04,26.666667,22.222222,80.0,72.0,2.54,0.0,0.0
4,2042-07-05,26.666667,21.666667,80.0,71.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...
119035,2045-12-27,28.333333,18.333333,83.0,65.0,0,0.0,0.0
119036,2045-12-28,29.444444,18.333333,85.0,65.0,9.906,0.0,0.0
119037,2045-12-29,28.333333,18.333333,83.0,65.0,0,0.0,0.0
119038,2045-12-30,28.333333,18.333333,83.0,65.0,0,0.0,0.0
119039,2045-12-31,29.444444,17.222222,85.0,63.0,0,0.0,0.0

In [10]:
# Check data types
weather_data_clean.dtypes

date             datetime64[ns]
maxtempc                float64
mintempc                float64
maxtempf                float64
mintempf                float64
precipitation            object
windgustspd             float64
snowfall                float64
dtype: object

In [11]:
#  Change dates so that date column is an object
weather_data_clean['date'] = weather_data_clean['date'].map(lambda x: x.strftime('%Y-%m-%d'))

In [12]:
# Check data types
weather_data_clean.dtypes

date              object
maxtempc         float64
mintempc         float64
maxtempf         float64
mintempf         float64
precipitation     object
windgustspd      float64
snowfall         float64
dtype: object

In [22]:
# Exoprt CSV
weather_data_clean.to_csv("weather.csv")

In [23]:
# Inserting df into db table
engine = create_engine('sqlite:///wwii.db', echo=False)

In [24]:
weather_data_clean.to_sql('weather', con=engine, if_exists='append', index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE weather ADD PRIMARY KEY (`index`);")

OperationalError: (sqlite3.OperationalError) near "PRIMARY": syntax error
[SQL: ALTER TABLE weather ADD PRIMARY KEY (`index`);]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
# weather_final = pd.read_sql_query("select * from weather_data_clean", engine)
# df_dict = df.to_dict('records')
# return jsonify(df_dict)

# THOR Weather Data Pandas DataFrame

In [ ]:
# Read in Thor Weather CSV
thor_weather = pd.read_csv(wwii_data, encoding = "ISO-8859-1", low_memory=False)
thor_weather.head()

In [ ]:
# Print Thor Weather columns
thor_weather.columns

In [ ]:
# Organize Thor weather data to list location as well as aircraft failures
thor_weather_fails = thor_weather[['LATITUDE','LONGITUDE','MSNDATE', 'WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC']].copy()
thor_weather_fails

In [ ]:
# Drop rows that don't have any failed aircraft
# Print clean Thor weather data
thor_weather_clean = thor_weather_fails.dropna(thresh = 1, subset = ['WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC'])
thor_weather_clean

In [ ]:
# Print updated clean Thor weather data
thor_weather_clean['MSNDATE'] = pd.to_datetime(thor_weather_clean['MSNDATE'])

In [ ]:
# Rename columns in clean dataframe
thor_weather_clean = thor_weather_clean.rename(columns= {'LATITUDE':'latitude','LONGITUDE':'longitude','MSNDATE':'missiondate', 'WX_FAIL_AC': 'weatherfails', 'MECH_FAIL_AC': 'mechanicalfails', 'MISC_FAIL_AC':'miscfails',})
thor_weather_clean

In [ ]:
# Check dataframe data types
thor_weather_clean.dtypes

In [ ]:
# Change date column to an object 
thor_weather_clean['missiondate'] = thor_weather_clean['missiondate'].map(lambda x: x.strftime('%Y-%m-%d'))

In [ ]:
# Check id data type changed
thor_weather_clean.dtypes

In [ ]:
# Export CSV
thor_weather_clean.to_csv("thor_weather.csv")

In [ ]:
# Inserting df into db table
engine = create_engine('sqlite:///wwii.db', echo=False)
thor_weather_clean.to_sql(table='weapons_bombs', con=engine)
with engine.connect() as con:
    con.execute("ALTER TABLE 'weapons_bombs' ADD PRIMARY KEY (`index`);")

# Connect to Postgres Databases

In [ ]:
# Connect to local database
engine = create_engine(f'postgresql://postgres:{password}@localhost:5433/wwii_tables')
connection = engine.connect()

In [ ]:
# Check for tables
engine.table_names()

In [ ]:
# Connect to weather_data table from database
weather_data_clean.to_sql(name='weather_data', con=connection, if_exists='append', index=False)

In [ ]:
Data = pd.read_sql('select * from weather_data', connection)

In [ ]:
Data.head()

In [ ]:
# Connect to aircraft_failure table from database
thor_weather_clean.to_sql(name='aircraft_failure', con=connection, if_exists='append', index=False)

In [ ]:
ThorData = pd.read_sql('select * from aircraft_failure', connection)

In [ ]:
ThorData.head()

In [ ]:
# Confirm data has been added by querying the customer_name table