In [1]:
# Import Dependancies
import pandas as pd
import os
from sqlalchemy import create_engine
from keys import password
import time
import datetime

In [ ]:
weather_csv = 'data_sets/Summary of Weather.csv'
wwii_data_thor = 'data_sets/thor_wwii_data_clean.csv'
wwii_data_aircraft = 'data_sets/thor_wwii_aircraft_gloss.csv'
wwii_data_weapons = 'data_sets/thor_wwii_weapon_gloss.csv'

In [ ]:
weather_df = pd.read_csv(weather_csv)
weather_df.head()
weather_df

In [ ]:
thor_df = pd.read_csv(wwii_data_thor)
thor_df.head()

In [2]:
thor_df.columns

          STA        Date Precip  WindGustSpd    MaxTemp    MinTemp  \
0       10001    1942-7-1  1.016          NaN  25.555556  22.222222
1       10001    1942-7-2      0          NaN  28.888889  21.666667
2       10001    1942-7-3   2.54          NaN  26.111111  22.222222
3       10001    1942-7-4   2.54          NaN  26.666667  22.222222
4       10001    1942-7-5      0          NaN  26.666667  21.666667
...       ...         ...    ...          ...        ...        ...
119035  82506  1945-12-27      0          NaN  28.333333  18.333333
119036  82506  1945-12-28  9.906          NaN  29.444444  18.333333
119037  82506  1945-12-29      0          NaN  28.333333  18.333333
119038  82506  1945-12-30      0          NaN  28.333333  18.333333
119039  82506  1945-12-31      0          NaN  29.444444  17.222222

         MeanTemp Snowfall PoorWeather  YR  ...  FB  FTI ITH  PGT  TSHDSBRSGF  \
0       23.888889        0         NaN  42  ... NaN  NaN NaN  NaN         NaN
1       25.555556        0         NaN  42  ... NaN  NaN NaN  NaN         NaN
2       24.444444        0         NaN  42  ... NaN  NaN NaN  NaN         NaN
3       24.444444        0         NaN  42  ... NaN  NaN NaN  NaN         NaN
4       24.444444        0         NaN  42  ... NaN  NaN NaN  NaN         NaN
...           ...      ...         ...  ..  ...  ..  ...  ..  ...         ...
119035  23.333333        0         NaN  45  ... NaN  NaN NaN  NaN         NaN
119036  23.888889        0           1  45  ... NaN  NaN NaN  NaN           1
119037  23.333333        0           1  45  ... NaN  NaN NaN  NaN           1
119038  23.333333        0         NaN  45  ... NaN  NaN NaN  NaN         NaN
119039  23.333333        0         NaN  45  ... NaN  NaN NaN  NaN         NaN

        SD3  RHX  RHN RVG  WTE
0       NaN  NaN  NaN NaN  NaN
1       NaN  NaN  NaN NaN  NaN
2       NaN  NaN  NaN NaN  NaN
3       NaN  NaN  NaN NaN  NaN
4       NaN  NaN  NaN NaN  NaN
...     ...  ...  ...  ..  ...
119035  NaN  NaN  NaN NaN  NaN
119036  NaN  NaN  NaN NaN  NaN
119037  NaN  NaN  NaN NaN  NaN
119038  NaN  NaN  NaN NaN  NaN
119039  NaN  NaN  NaN NaN  NaN

[119040 rows x 31 columns]

In [12]:
thor_df2 = thor_df[['latitude','longitude','msndate']].copy()

          STA        Date Precip    MaxTemp    MinTemp   MeanTemp Snowfall  \
0       10001    1942-7-1  1.016  25.555556  22.222222  23.888889        0
1       10001    1942-7-2      0  28.888889  21.666667  25.555556        0
2       10001    1942-7-3   2.54  26.111111  22.222222  24.444444        0
3       10001    1942-7-4   2.54  26.666667  22.222222  24.444444        0
4       10001    1942-7-5      0  26.666667  21.666667  24.444444        0
...       ...         ...    ...        ...        ...        ...      ...
119035  82506  1945-12-27      0  28.333333  18.333333  23.333333        0
119036  82506  1945-12-28  9.906  29.444444  18.333333  23.888889        0
119037  82506  1945-12-29      0  28.333333  18.333333  23.333333        0
119038  82506  1945-12-30      0  28.333333  18.333333  23.333333        0
119039  82506  1945-12-31      0  29.444444  17.222222  23.333333        0

       PoorWeather  YR  MO  ...  FB FTI  ITH  PGT  TSHDSBRSGF  SD3  RHX RHN  \
0              NaN  42   7  ... NaN NaN  NaN  NaN         NaN  NaN  NaN NaN
1              NaN  42   7  ... NaN NaN  NaN  NaN         NaN  NaN  NaN NaN
2              NaN  42   7  ... NaN NaN  NaN  NaN         NaN  NaN  NaN NaN
3              NaN  42   7  ... NaN NaN  NaN  NaN         NaN  NaN  NaN NaN
4              NaN  42   7  ... NaN NaN  NaN  NaN         NaN  NaN  NaN NaN
...            ...  ..  ..  ...  ..  ..  ...  ...         ...  ...  ...  ..
119035         NaN  45  12  ... NaN NaN  NaN  NaN         NaN  NaN  NaN NaN
119036           1  45  12  ... NaN NaN  NaN  NaN           1  NaN  NaN NaN
119037           1  45  12  ... NaN NaN  NaN  NaN           1  NaN  NaN NaN
119038         NaN  45  12  ... NaN NaN  NaN  NaN         NaN  NaN  NaN NaN
119039         NaN  45  12  ... NaN NaN  NaN  NaN         NaN  NaN  NaN NaN

        RVG  WTE
0       NaN  NaN
1       NaN  NaN
2       NaN  NaN
3       NaN  NaN
4       NaN  NaN
...     ...  ...
119035  NaN  NaN
119036  NaN  NaN
119037  NaN  NaN
119038  NaN  NaN
119039  NaN  NaN

[119040 rows x 30 columns]

In [14]:
weather_df2 = weather_df[['Date', 'MaxTemp', 'MinTemp','MAX', 'MIN']].copy()

          STA        Date Precip   MAX   MIN
0       10001    1942-7-1  1.016  78.0  72.0
1       10001    1942-7-2      0  84.0  71.0
2       10001    1942-7-3   2.54  79.0  72.0
3       10001    1942-7-4   2.54  80.0  72.0
4       10001    1942-7-5      0  80.0  71.0
...       ...         ...    ...   ...   ...
119035  82506  1945-12-27      0  83.0  65.0
119036  82506  1945-12-28  9.906  85.0  65.0
119037  82506  1945-12-29      0  83.0  65.0
119038  82506  1945-12-30      0  83.0  65.0
119039  82506  1945-12-31      0  85.0  63.0

[119040 rows x 5 columns]

In [ ]:
weather_date_series = weather_df2['Date'] = pd.to_datetime(weather_df2['Date'])
weather_df2

In [ ]:
thor_df2['msndate'] = pd.to_datetime(thor_df2['msndate'])
thor_df2

In [ ]:
weather_df2 = weather_df2.rename(columns= {"Date":'dates','MAX':'maxtempf','MIN':'mintempf', 'MaxTemp': 'maxtempc', 'MinTemp': 'mintempc'})

In [ ]:
weather_df2