In [1]:
# Import our dependencies
import pandas as pd
import os
from sqlalchemy import create_engine
import time
import datetime
from config import password

In [2]:
# Bring in CSVs
weather = 'Resources/Weather_Summary.csv'
wwii_data = 'Resources/THOR_WWII_DATA_CLEAN.csv'
wwii_aircraft_data = 'Resources/THOR_WWII_AIRCRAFT_GLOSS.csv'
wwii_weapons_data = 'Resources/THOR_WWII_WEAPON_GLOSS.csv'

In [3]:
# Read in Weather CSV 
weather_df = pd.read_csv(weather, encoding = "ISO-8859-1", low_memory=False)
weather_df.head()

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
weather_df.columns

Index(['STA', 'Date', 'Precip', 'WindGustSpd', 'MaxTemp', 'MinTemp',
       'MeanTemp', 'Snowfall', 'PoorWeather', 'YR', 'MO', 'DA', 'PRCP', 'DR',
       'SPD', 'MAX', 'MIN', 'MEA', 'SNF', 'SND', 'FT', 'FB', 'FTI', 'ITH',
       'PGT', 'TSHDSBRSGF', 'SD3', 'RHX', 'RHN', 'RVG', 'WTE'],
      dtype='object')

In [5]:
# Organize Weather data to list weather components
# Create a new table with the selected columns
weather_data_clean = weather_df[['Date', 'MaxTemp', 'MinTemp','MAX', 'MIN', 'Precip', 'WindGustSpd', 'Snowfall', 'PoorWeather', 'PRCP']].copy()

In [6]:
# Print clean weather data
weather_data_clean.head()

,Date,MaxTemp,MinTemp,MAX,MIN,Precip,WindGustSpd,Snowfall,PoorWeather,PRCP
0,1942-7-1,25.555556,22.222222,78.0,72.0,1.016,NaN,0,NaN,0.04
1,1942-7-2,28.888889,21.666667,84.0,71.0,0,NaN,0,NaN,0
2,1942-7-3,26.111111,22.222222,79.0,72.0,2.54,NaN,0,NaN,0.1
3,1942-7-4,26.666667,22.222222,80.0,72.0,2.54,NaN,0,NaN,0.1
4,1942-7-5,26.666667,21.666667,80.0,71.0,0,NaN,0,NaN,0

In [7]:
postgres_conn_string = f"postgres:{password}"
engine = create_engine(f"postgresql://{postgres_conn_string}@localhost:5433/wwii_tables")

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
engine.table_names()

In [ ]:
weather_data_clean_df.to_sql(event_id ='id', con=engine, if_exists='append', index=False)

In [ ]:
# Read in Thor Weather CSV
thor_weather = pd.read_csv(wwii_data, encoding = "ISO-8859-1", low_memory=False)
thor_weather.head()

In [ ]:
# Print Thor Weather columns
thor_weather.columns

In [ ]:
# Organize Thor weather data to list location as well as aircraft failures
thor_weather_fails = thor_weather[['LATITUDE','LONGITUDE','MSNDATE', 'WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC']].copy()
thor_weather_fails

In [ ]:
# Drop rows that don't have any failed aircraft
# Print clean Thor weather data
thor_weather_clean = thor_weather_fails.dropna(thresh = 1, subset = ['WX_FAIL_AC', 'MECH_FAIL_AC', 'MISC_FAIL_AC'])
thor_weather_clean

In [ ]:
# Convert dates to proper formatting
weather_dates = weather_data_clean['Date'] = pd.to_datetime(weather_data_clean['Date'])

In [ ]:
# Print updated clean Thor weather data
thor_weather_clean['MSNDATE'] = pd.to_datetime(thor_weather_clean['MSNDATE'])
thor_weather_clean

In [ ]:
# Rename columns to make dataframes cleaner
weather_df2 = weather_df2.rename(columns= {"Date":'dates','MAX':'maxtempf','MIN':'mintempf', 'MaxTemp': 'maxtempc', 'MinTemp': 'mintempc'})

In [ ]:
weather_df2